<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script th:src="@{/js/script.js}"></script> 
    <title>(Club Name) - Club Description</title>
  </head>
  <body>
    <div th:insert="navbar :: nav-bar"></div>
    <!-- actual description -->
    <div class="clubDescriptionDiv">
      <header>
        <h1><span th:text="${club.name}"></span></h1>
      </header>
      <main>
        <section class="club-description">
          <h2>Club Description</h2>
          <p>
            <span th:text="${club.description}"></span>
          </p>
          <p>
            Contact us at
            <li th:each="coheads : ${club.heads}">
              <span th:text="${coheads}"></span>
              </li>
          </p>
        </section>
        <form th:action="@{/clubs/update/{id}(id=${club.id})}" method="post">
          <input type="hidden" name="id" th:value="${club.id}" />
          <input type="hidden" name="name" th:value="${club.name}" />
          <input type="hidden" name="description" th:value="${club.description}" />
          <input type="hidden" name="heads" th:value="${club.heads}" />
          <input type="hidden" name="members" th:value="${club.members + ',' + email}" />
          <button type="submit">Join Club</button>
        </form>
      </main>
      <footer>
        <p>&copy; 2023 Club Name</p>
      </footer>
    </div>
  </body>
</html>
