<!--CREATED BY COPILOT-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Management</title>
</head>
<body>
    <h1>Clubs</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="club : ${clubs}">
                <td th:text="${club.name}"></td>
                <td th:text="${club.description}"></td>
                <td>
                    <form th:action="@{/clubs/delete/{id}(id=${club.id})}" th:object="${club}" method="post">
                        <button type="submit" class="delete-button">Delete</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <form th:action="@{/clubs/create}" method="post" th:object="${club}">
        <h2>Create Club</h2>
        <label>Name</label>
        <input type="text" th:field="*{name}" required>
        <label>Description:</label>
        <input type="text" th:field="*{description}" required>
        <button type="submit">Create</button>
    </form>
</body>
</html>